* {
    box-sizing: border-box;
}
  
html {
    color: $color-gray;
    font-family: $font-main;
    font-size: $font-size;
}

h1 {
    font-family: $font-header;
    font-weight: 300;
    line-height: 1.2em;
    
    /* более 992 */
    @include lg-min {
        font-size: 3.75rem;
    }
    /* между 992 и 768 */
    @include lg-md {
        font-size: 2.5rem;
    }
    /* менне 768 */
    @include md {
        font-size: 1.875rem;
    }
}
    
h2 {
    font-family: $font-header;
    line-height: 1.2em;
    color: $color-main;
    letter-spacing: 0.1em;

    @include lg-min {
        margin-bottom: $gap * 2.8;
        font-size: 2.5rem;
    }
    @include lg-md {
        margin-bottom: $gap * 2.1;
        font-size: 2rem;
    }
    @include md-sm {
        margin-bottom: $gap * 1.8;
        font-size: 1.5rem;
    }
    @include sm {
        margin-bottom: $gap * 1.8;
        font-size: 1.5rem;
        text-align: center;
    }
}

h3 {
    color: $color-gray;
    letter-spacing: 0.05em;
    font-size: 1.125rem;
  
}

p {
    color: $color-gray;
}

a {
    text-decoration: none;
    color: $color-light;
}
input:focus {
    outline: none;
}

.btn {
    border-color: $color-light;
    background-color: rgba($color-light, 0.1);

    @extend %btn-common;
}
.btn-accent {
    border-color: $color-main;
    background-color: rgba($color-main, 0.8);
    
    @extend %btn-common;
}